/* CSS for APP GENERAL styles */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');


html {
    height: 100%;
    width: 100%;
    font-family: 'Outfit', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F7F9FC;
    
}

.form_error_message{
    color:red;
}

.form_success_message {
    color:green;
}

/* Maybe add 'display: flex' to the div to set div to display flex a default settings */
